body {
  width: 100%;
}
header {
  width: 100%;
  height: 60px;
  background: rgb(233, 233, 233);
}
.top_container {
  max-width: 1680px;
  height: 60px;
  background: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.button_container {
  display: flex;
}
.nav_logo {
  display: flex;
  align-items: center;
}
.top_container .logo_a {
  text-decoration: none;
  margin-left: 80px;
}
.button_container .register {
  margin-right: 80px;
}

nav a {
  text-decoration: none;
  padding-left: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #18a0fb;
  letter-spacing: -0.015em;
}
.button_container .register button {
  font-family: Montserrat;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background: #18a0fb;
  letter-spacing: -0.015em;
  border: none;
  cursor: pointer;
  color: rgb(233, 233, 233);
}
.button_container .login button {
  font-family: Montserrat;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background: rgb(233, 233, 233);
  letter-spacing: -0.015em;
  border: 1px solid #18a0fb;
  cursor: pointer;
  color: #18a0fb;
}
.button_container .login {
  margin-right: 10px;
  background: rgb (233, 233, 233);
}
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?3ds6fz");
  src: url("fonts/icomoon.eot?3ds6fz#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?3ds6fz") format("truetype"),
    url("fonts/icomoon.woff?3ds6fz") format("woff"),
    url("fonts/icomoon.svg?3ds6fz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 32px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-texts .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-logo-texts .path2:before {
  content: "\e901";
  margin-left: -3.84375em;
  color: rgb(204, 204, 204);
}
.icon-logo-texts .path3:before {
  content: "\e902";
  margin-left: -3.84375em;
  color: rgb(0, 0, 0);
}
nav a:hover,
.menu_botton button:hover {
  color: black;
}
.menu_botton button:hover {
  box-shadow: 1px 1px 5px black;
}
@media only screen and (max-width: 1000px) {
  body {
    margin: 0;
  }

  header {
    width: 100%;
    height: 460px;
    background: rgb(233, 233, 233);
    display: block;
    text-align: center;
  }
  .top_container {
    height: 460px;
    background: rgb(233, 233, 233);
    display: block;
    text-align: center;
    width: 100%;
  }
  .icon-logo-texts {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  nav {
    display: block;
    width: 100%;
  }
  nav a {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  .menu_botton {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    text-decoration: none;
  }
  .button_container {
    display: block;
  }
  .button_container .register,
  .button_container .login {
    margin-right: 0;
  }
  .nav_logo {
    display: block;
  }
}
.main {
  text-align: center;
  padding-top: 40px;
}
.main h1 {
  font-size: 72px;
}
